@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400&display=swap');


.font-class {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #0C365A;
}


.expand-icon-class {
    font-size: 6px;
}